<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>问题列表页面</title>
            <script>
                var current_url = window.location.href;

                // Do a shortcut so that be.bazel.build redirect to the build encyclopedia
                var be_url = new RegExp("^https?://be(\.bazel.build)?/?");
                if (be_url.test(current_url)) {
                    window.location.replace(current_url.replace(be_url, "https://docs.bazel.build/be/overview.html"));
                }
                var be_url = new RegExp("^https?://be(\.bazel.build)?/([a-zA-Z0-9_-]+)([/#](.*))?");
                if (be_url.test(current_url)) {
                    window.location.replace(current_url.replace(be_url, "https://docs.bazel.build/be/$2.html#$4"));
                }
                // And a short to code reviews
                var cr_url = new RegExp("^https?://cr(\.bazel.build)?/([0-9]+)")
                if (cr_url.test(current_url)) {
                    window.location.replace(current_url.replace(cr_url, "https://bazel-review.googlesource.com/c/$2"));
                }
                // Code review dashboard
                var cr_url = new RegExp("^https?://cr(\.bazel.build)?/?")
                if (cr_url.test(current_url)) {
                    window.location.replace(current_url.replace(cr_url, "https://bazel-review.googlesource.com/"));
                }
            </script>
            <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
            <link type="text/css" rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
            <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}">
            <script type="text/javascript" rel="script" th:src="@{/js/jquery-3.4.1.min.js}"></script>
            <script type="text/javascript" rel="script" th:src="@{/js/bootstrap.js}"></script>
            <style>

                .nav-stacked > li{
                    width: 300px;
                    height: 40px;
                    margin-top: 20px;
                    font-size: 15px;
                }
                li {
                    list-style: none;
                }

                #question-list-data {
                    position: absolute;
                    margin-top: 80px;
                    margin-left: 400px;
                }

                #question-list-data-title {
                    color: #0f0f0f;font-size: 20px
                }



            </style>
    </head>
    <body>
        <div th:include="nav_menu_head" ></div>
        <div style="position: absolute">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="active" id="question-new-menu"><a href="#">最新问题</a></li>
                <li role="presentation" id="question-hot-menu"><a href="#">最热问题</a></li>
                <li role="presentation" id="question-type-menu"><a href="#">问题分类</a></li>
            </ul>
        </div>
<!--        <li th:text="${questions}">-->

<!--        </li>-->
        <div id="question-list-data">
            <ul th:each="bbsQuestion:${questions}"  >
                <li><b><a class="table" id="question-list-data-title" th:text="${bbsQuestion.bbsQuestionName}" ></a></b></li>
            </ul>
        </div>
        <script type="text/javascript" rel="script" >
            $('#question-new-menu').click(function () {
                $('.nav-stacked > .active').removeClass('active');
                $('#question-new-menu').addClass('active')
            })

            $('#question-hot-menu').click(function () {
                $('.nav-stacked > .active').removeClass('active');
                $('#question-hot-menu').addClass('active')
            })

            $('#question-type-menu').click(function () {
                $('.nav-stacked > .active').removeClass('active');
                $('#question-type-menu').addClass('active')
            })
        </script>
    </body>
</html>